/* intro.css — 入场页样式 */
:root{
  --text-main: #fff8ee;
  --text-sub: rgba(249, 243, 230, 0.85);
  --text-h3: rgba(255, 250, 240, 0.966);
  --bg: #000000;
}

html,body {
  height:100%;
  margin:0;
  padding:0;
  background:var(--bg);
  overflow:hidden;
  font-family: "Noto Sans SC", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* canvas 全屏，作为背景 */
#galaxy {
  position: fixed;
  inset: 0;
  width:100vw;
  height:100vh;
  display:block;
}

/* 中央两行文字（不可交互，不阻断鼠标） */
.center-text {
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align:center;
  pointer-events: none; /* 不拦截点击 */
  z-index: 10;
  user-select: none;
}

.center-text h1{
  margin:0;
  font-size: 5.6rem;
  color: var(--text-main);
  font-weight: 700;
  letter-spacing: 2rem;
  line-height: 0.95;
}

.noir-font {
    font-family: 'Cinzel', serif;
}

.center-text h2{
  margin:15px 0 0;
  font-size: 2.0rem;
  color: var(--text-sub);
  font-weight: 500;
  letter-spacing: 0.3rem;
  opacity: 0.95;
}

.center-text h3{
  margin:45px 0 0;
  font-size: 2.6rem;
  color: var(--text-h3);
  font-weight: 500;
  letter-spacing: 0.4rem;
  opacity: 0.95;
}

/* 黑屏层用于转场 */
#black-screen {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
}
